{% extends "admin/base_site.html" %}

{% block title %}Campanhas - OpenSocialCRM{% endblock %}

{% block content %}
<script src="/static/grappelli/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="/media/js/highcharts/highcharts.js"></script>
<script language="javascript" type="text/javascript" src="/media/campanhas/js/scripts.js"></script>
<link href="/static/grappelli/jquery/ui/css/custom-theme/jquery-ui-1.8.custom.css" rel="stylesheet" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="/static/grappelli/jquery/ui/js/jquery-ui-1.8.5.custom.min.js" type="text/javascript"></script>
<script src="/media/js/jquery.slider.js" type="text/javascript"></script>
<link href="/media/css/slider.css" rel="stylesheet" type="text/css" media="screen" title="no title" charset="utf-8">
<div id="content-main">
                <div id="breadcrumbs">
             <a href="../../">Início</a> &rsaquo;
             <a href="../">Dashboard</a> &rsaquo;
             Campanhas
        </div>
    <h1>Campanhas</h1>
{% include "default/header.html" %}

<div class="module changelist-filters">
            <!-- PAGINATION TOP -->
            

<div class="module pagination"><ul class="pagination"><li class="results"><span>{{ qtd }} total</span></li></ul><br clear="all" /></div>
            
                <!-- FILTERS -->
                
                <!-- SEARCH -->
                
                    <div id="search" class="module search span-6">
                        

    
    <!-- Search Form -->

    <form id="changelist-search" action="" method="get">
        <input type="text" name="q" id="searchbar" value="" />
        <button type="submit" value="" class="search">&nbsp;</button>
        
        
    </form>

                    </div>
                
            
            <br clear="all" />
        </div>
        <!-- DATE HIERARCHY -->

        
    
    <form id="changelist-form" action="/sistema/campanhas/resultados/" method="post"><div style='display:none'></div>
    	<input type="hidden" name="campanha" id="campanha" value="" />
        <div id="changelist" class="container-full" style="">
            <!-- POPUP -->
            
            <!-- ERRORS -->
            
            <!-- MANAGEMENT FORM -->
            
            <!-- CHANGELIST-RESULTS -->
            
                
    
    
    
    <div class="module changelist-results">
        <table cellspacing="0">
            <thead>

                <tr>
                        <th class=" sortable">
                            Titulo
                        </th>

                        <th class=" sortable">
                            Descricao
                        </th>
                    	<th class=" sortable">
                            Url
                        </th>
                        <th class=" sortable">
                            Twitter
                        </th>

                    
                        <th class=" sortable">
                            Facebook
                        </th>
                    
                        <th class=" sortable">
                            Linkedin
                        </th>

                    
                        <th class=" sortable">
                            Criada em
                        </th>
                    
                        <th class=" sortable">
                            Enviado em
                        </th>

                    
                        <th class=" sortable">
                            Ver Resultados
                        </th>
                    
                </tr>
            </thead>
            <tbody>
            	{% for campanha in campanhas %}
                   <tr class="row1">
                    <th>
                 		{{ campanha.titulo }}
                    </th>
                    <td>{{ campanha.descricao }}</td>
                     <td>{{ campanha.url }}</td>
                    <td>
                    	{% if campanha.twitter %}
                    		<img src="/static/grappelli/img/admin/icon-yes.gif" alt="True" />
                    	{% else %}
                    		<img src="/static/grappelli/img/admin/icon-no.gif" alt="True" />
                    	{% endif %}
                    </td>
                    <td>
                    	{% if campanha.facebook %}
                    		<img src="/static/grappelli/img/admin/icon-yes.gif" alt="True" />
                    	{% else %}
                    		<img src="/static/grappelli/img/admin/icon-no.gif" alt="True" />
                    	{% endif %}
                    </td>
                    <td>
                    	{% if campanha.linkedin %}
                    		<img src="/static/grappelli/img/admin/icon-yes.gif" alt="True" />
                    	{% else %}
                    		<img src="/static/grappelli/img/admin/icon-no.gif" alt="True" />
                    	{% endif %}
                    </td>
                    <td class="nowrap">{{ campanha.criada_em }}</td>
                    <td class="nowrap">{{ campanha.enviado_em }}</td>
                    <td style="text-align: center!important">
                    	<img class="campanha" src="/media/images/icons/chart_pie.png" rel="{{ campanha.id }}" style="cursor: pointer" alt="True" />
                    </td>
                   </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>

            
            <!-- PAGINATION BOTTOM -->
            
<div class="module pagination"><ul class="pagination"><li class="results"><span>{{ qtd }} total</span></li></ul><br clear="all" /></div>
        </div><br clear="all" />
        
        <div id="two" class="contentslider">

			<div class="cs_wrapper">
				<div class="cs_slider">

					<div class="cs_article">
						
						<table cellspacing="0">
            <thead>

                <tr>
                        <th class=" sortable">
                            Titulo
                        </th>

                        <th class=" sortable">
                            Descricao
                        </th>
                    	<th class=" sortable">
                            Url
                        </th>
                        <th class=" sortable">
                            Twitter
                        </th>

                    
                        <th class=" sortable">
                            Facebook
                        </th>
                    
                        <th class=" sortable">
                            Linkedin
                        </th>

                    
                        <th class=" sortable">
                            Criada em
                        </th>
                    
                        <th class=" sortable">
                            Enviado em
                        </th>

                    
                        <th class=" sortable">
                            Ver Resultados
                        </th>
                    
                </tr>
            </thead>
            <tbody>
            	{% for campanha in campanhas %}
                   <tr class="row1">
                    <th>
                 		{{ campanha.titulo }}
                    </th>
                    <td>{{ campanha.descricao }}</td>
                     <td>{{ campanha.url }}</td>
                    <td>
                    	{% if campanha.twitter %}
                    		<img src="/static/grappelli/img/admin/icon-yes.gif" alt="True" />
                    	{% else %}
                    		<img src="/static/grappelli/img/admin/icon-no.gif" alt="True" />
                    	{% endif %}
                    </td>
                    <td>
                    	{% if campanha.facebook %}
                    		<img src="/static/grappelli/img/admin/icon-yes.gif" alt="True" />
                    	{% else %}
                    		<img src="/static/grappelli/img/admin/icon-no.gif" alt="True" />
                    	{% endif %}
                    </td>
                    <td>
                    	{% if campanha.linkedin %}
                    		<img src="/static/grappelli/img/admin/icon-yes.gif" alt="True" />
                    	{% else %}
                    		<img src="/static/grappelli/img/admin/icon-no.gif" alt="True" />
                    	{% endif %}
                    </td>
                    <td class="nowrap">{{ campanha.criada_em }}</td>
                    <td class="nowrap">{{ campanha.enviado_em }}</td>
                    <td style="text-align: center!important">
                    	<img class="campanha" src="/media/images/icons/chart_pie.png" rel="{{ campanha.id }}" style="cursor: pointer" alt="True" />
                    </td>
                   </tr>
               {% endfor %}
            </tbody>
        </table>
						
					</div><!-- End cs_article -->

					<div class="cs_article">

						<h2> <a href="#">Article Number Two</a> </h2>
						
						<p>
							Nibh nihil et ex accumsan insitam. Qui lius congue
							hendrerit quam vero. Demonstraverunt molestie ipsum
							magna nobis sequitur. Ex diam euismod quis ii velit.
						</p>
						<p>

							In quam lectores placerat Investigationes illum. Diam
							sollemnes nihil lorem claram consectetuer. Eros nam
							placerat claritas claritatem congue. Adipiscing ut
							clari suscipit nulla habent.
						</p>
						
					</div><!-- End cs_article -->

				
					

				</div><!-- End cs_slider -->
			</div><!-- End cs_wrapper -->

		</div><!-- End contentslider -->
        
        <script type="text/javascript">
			$(function() {
				$('#two').ContentSlider({
					width : '1200px',
					height : '500px',
					speed : 400,
					easing : 'easeOutQuad',
					textResize : true
				});
			});

		</script>
        <!-- SUBMIT ROW -->
            </div>
    </form>

            <br class="clear" />
        </div>
</div>
{% endblock %}
