{% include "cabecalho.html" %}
                <div id="breadcrumbs">
             <a href="../../../">Home</a> &rsaquo;
             Campanhas
        </div>

        <div id="content" class="content-flexible">
            
            
    <h1>Campanhas</h1>

            
    
        <ul class="tools">
            <li>
                <a href="nova/" class="add-handler focus">
                    Lançar nova campanha
                </a>
            </li>

        </ul>
    

            
    
    <form id="changelist-form" action="" method="post"><div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='f0e73daffbc1a8935a641fbb0ee7d5a0' /></div>
        <div id="changelist" class="container-full" style="">

    <div class="module changelist-results">
        <table cellspacing="0">

            <thead>
                <tr>
                    
                        <th class=" action-checkbox-column">
                            
                            <input type="checkbox" id="action-toggle" />
                            
                        </th>
                    
                        <th class=" sortable">
                            <a href="?ot=asc&amp;o=1">
                            Redes sociais
                            </a>

                        </th>
                    
                        <th class=" sortable">
                            <a href="?ot=asc&amp;o=2">
                            Título
                            </a>
                        </th>
                    
                        <th class=" sortable">
                            <a href="?ot=asc&amp;o=3">
                            Descrição
                            </a>

                        </th>
                    
                </tr>
            </thead>
            <tbody>
                
                    <tr class="row1"><td class="action-checkbox"><input type="checkbox" class="action-select" value="4e447348e28a363bb3000000" name="_selected_action" /></td><th><a href="4e447348e28a363bb3000000/">Twitter</a></th><td>askaska</td><td>kjkds@ssd.com</td></tr>
                
            </tbody>
        </table>

    </div>


            
            <!-- PAGINATION BOTTOM -->
            

<div class="module pagination"><ul class="pagination"><li class="results"><span>1 total</span></li></ul><br clear="all" /></div>
        </div><br clear="all" />
        <!-- SUBMIT ROW -->
        
            <div id="submit" class="module footer">
                
<div class="changelist-actions">

    <select name="action">
<option value="" selected="selected">---------</option>
<option value="delete_selected">Excluir campanha selecionada</option>
</select><input type="hidden" class="select-across" value="0" name="select_across" />
    
        <script type="text/javascript">var _actions_icnt="1";</script>
        <ul>
            <li class="action-counter"><span class="action-counter">1 de 1 selecionado</span></li>
            
        </ul>
    
</div>

                
            </div>
        
    </form>

            <br class="clear" />
        </div>
        <!-- FOOTER -->
        <div id="footer"></div>
    </div>

</body>
</html>