

<script language="javascript" type="text/javascript" src="/media/js/highcharts/highcharts.js"></script>
<script language="javascript" type="text/javascript" src="/media/campanhas/js/resultados_redes.js"></script>

<div id="content-main">
                <div id="breadcrumbs">
             <a href="../../">Início</a> &rsaquo;
             <a href="../">Dashboard</a> &rsaquo;
             <a href="">Campanhas</a> &rsaquo;
             Resultados
        </div>

        <div id="content" class="content-flexible">
            
            
    <h1>Resultados da Campanha - Redes Sociais</h1>
            
    
    <form id="changelist-form" action="" method="post"><div style='display:none'></div>
        <div id="changelist" class="container-full" style="">


<div id="tabs_redes">
	<ul>
		<li><a href="#tabs-1">Todos</a></li>
	</ul>
	<div id="tabs-1">

			<div id="div_redes" style="padding-left: 50px; width: 550px; height: 400px; margin: 0 auto; float:left;"></div>
			<div id="div_redes_barra" style="padding-left: 100px; width: 550px; height: 400px; margin: 0 auto; float:left;"></div>
	
			
			<input type="hidden" class="redes" count="{{ facebook }}" value="Facebook" />
			<input type="hidden" class="redes" count="{{ twitter }}" value="Twitter" />
			<input type="hidden" class="redes" count="{{ linkedin }}" value="LinkedIn" />
	</div>
	
</div>

<br clear="all" />
        

        
    </form>

            <br class="clear" />
        </div>
    </div>


</div>
