<div id="header">

    <div class="branding">&nbsp;</div>
    <!-- Title -->
    <div class="admin-title">OpenSocialCRM</div>
    
        <ul id="user-tools">
            <li class="user-options-container collapse closed">
                <a href="javascript://" class="user-options-handler collapse-handler">Menu</a>
                <ul class="user-options">
						<li><a href="/sistema/">Dashboard</a></li>
                        <li><a href="/sistema/campanhas/">Campanhas</a></li>
                        <li><a href="/sistema/leads/">Leads</a></li>
                        <li><a href="/sistema/painel/">Painel</a></li>
                </ul>
            </li>
            <li class="user-options-container collapse closed">
                <a href="javascript://" class="user-options-handler collapse-handler">stancke</a>
                <ul class="user-options">

                        <li><a href="/sistema/painel/password_change/">
                    
                    Alterar senha</a></li>
                    <!-- Logout -->
                    
                    
                        <li><a href="/sistema/painel/logout/">
                    
                    Encerrar sessão</a></li>
                </ul>
            </li>
        </ul>
</div>