{% extends "admin/base_site.html" %}

{% block title %}Resultados da Campanha{% endblock %}

{% block content %}
<script src="/static/grappelli/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="/media/js/highcharts/highcharts.js"></script>
<script language="javascript" type="text/javascript" src="/media/resultados/js/script.js"></script>
<div id="content-main">
                <div id="breadcrumbs">
             <a href="../../../">Home</a> &rsaquo;
             Resultados
        </div>

        <div id="content" class="content-flexible">
            
            
    <h1>Resultados da Campanha</h1>
            
    
 <form enctype="multipart/form-data" action="/resultados/get_resultados/" method="post" id="relacionamento_form">{% csrf_token %}
 	
                <div>
                        <fieldset class="module ">
                        	<div class="row cells-1 lead ">
                        		<div>
                        			<div class="column span-4">
                        				<label for="id_lead" class="required">Campanha:</label>
                        			</div>
                        			<div class="column span-flexible">
                        				<select name="campanha" id="id_campanha">
                        					<option value="" selected="selected">---------</option>
                        					{% for campanha in campanhas %}
                							<option value="{{ campanha.id }}" selected="selected">{{ campanha.titulo }}</option>
               				 				{% endfor %}
                        				</select>
                        				<input type="submit" value="Buscar"/>
                        			</div>
                        		</div>
   
                        	</div>
                        	</fieldset>
                        				
                    
                    
                    

            <br class="clear" />
        </div>

        <div id="footer"></div>
    </div>


</div>
{% endblock %}