{% extends "admin/base_site.html" %}

{% block title %}Prospecção de Leads - OpenSocialCRM{% endblock %}

{% block content %}
<script src="/static/grappelli/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="/media/js/highcharts/highcharts.js"></script>
<script language="javascript" type="text/javascript" src="/media/campanhas/js/scripts.js"></script>
<link href="/static/grappelli/jquery/ui/css/custom-theme/jquery-ui-1.8.custom.css" rel="stylesheet" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="/static/grappelli/jquery/ui/js/jquery-ui-1.8.5.custom.min.js" type="text/javascript"></script>
<script src="/media/crm/js/jquery.slider.crm.js" type="text/javascript"></script>
<link href="/media/css/slider.css" rel="stylesheet" type="text/css" media="screen" title="no title" charset="utf-8">

<div id="content-main">
                <div id="breadcrumbs">
             <a href="../../">Início</a> &rsaquo;
             <a href="../">Dashboard</a> &rsaquo;
             Leads
        </div>
{% include "default/header.html" %}

<div id="conteudo" class="contentslider">
            

			<div class="cs_wrapper">
				<div class="cs_slider">

					<div class="cs_article" id="div_1">
						<h1>Prospecção de Leads</h1>
					
					<div class="module changelist-filters">
            <!-- PAGINATION TOP -->
            
<form id="form" action="/sistema/leads/prospeccao/">
<div class="module pagination">
	<ul class="pagination">
		<li class="results">
			<span><input type="radio" id="twitter" name="rede_social" value="twitter" /><label style="display: inline;" for="twitter">Twitter</label></span>
		</li>
		<li class="results">
			<span><input type="radio" id="facebook" name="rede_social" value="facebook"/><label style="display: inline;" for="facebook">Facebook</label></span>
		</li>
		<li class="results">
			<span><input type="radio" id="linkedin" name="rede_social" value="linkedin"/><label style="display: inline;" for="linkedin">LinkedIn</label></span>
		</li>
	</ul>
	<br clear="all" />
	
	
</div>
           
              
            
            <br clear="all" />
        </div>

</form>	
		
        
					</div><!-- End cs_article -->

					<div class="cs_article" id="div_2">

						
						
					</div><!-- End cs_article -->

				
					

				</div><!-- End cs_slider -->
			</div><!-- End cs_wrapper -->

		</div><!-- End contentslider -->

    <script type="text/javascript">
			$(function() {
				$('#conteudo').ContentSlider({
					width : '1300px',
					height : '850px',
					speed : 400,
					easing : 'easeOutQuad',
					textResize : true
				});
			});

		</script>

            <br class="clear" />
        </div>
</div>
{% endblock %}