{% extends "admin/base_site.html" %}

{% block title %}Dashboard - OpenSocialCRM{% endblock %}

{% block content %}
<script src="/static/grappelli/jquery/jquery-1.4.2.min.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript" src="/media/js/jquery.twitter.js"></script>
<script language="javascript" type="text/javascript" src="/media/dashboard/js/script.js"></script>
<link href="/static/grappelli/jquery/ui/css/custom-theme/jquery-ui-1.8.custom.css" rel="stylesheet" type="text/css" media="screen" title="no title" charset="utf-8">
<script src="/static/grappelli/jquery/ui/js/jquery-ui-1.8.5.custom.min.js" type="text/javascript"></script>

<style>
	.column { width: 400px; padding-bottom: 100px; }
	.portlet { margin: 0 1em 1em 0; overflow: hidden }
	.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
	.portlet-header .ui-icon { float: right; }
	.portlet-content { padding: 0.4em; }
	.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
	.ui-sortable-placeholder * { visibility: hidden; }
</style>
{% include "default/header.html" %}
<div id="content-main">
	<div id="breadcrumbs">
             <a href="../../">Início</a> &rsaquo;
             Dashboard
        </div>
    <div id="content" class="content-flexible">        
	
	<h1>Dashboard</h1>
        <br class="clear" />
		<div class="column">
		<div class="portlet">
			<div class="portlet-header">Últimos tweets meus</div>
			<div class="portlet-content">
				
				<div class="module changelist-results">
        <table cellspacing="0">
            <thead>

                <tr>
                        <th class=" sortable">
                            
                        </th>

                        <th class=" sortable">
                            Twitter
                        </th>
                    
                        <th class=" sortable">
                            Texto
                        </th>
                </tr>
            </thead>
            <tbody>
            	{% for line in timeline %}
                   <tr class="row1">
                    <td>
                    	<img src="{{ line.user.profile_image_url}}" />
                    </td>
                    <td>
                    	{{ line.user.screen_name }}
                    </td>
                    <td>
                    	{{ line.text}}
                    </td>
                  
                   </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
   			</div>
		</div>
	
	</div>
	
	<div class="column"">
	
		<div class="portlet">
			<div class="portlet-header">Últimos retweets</div>
			<div class="portlet-content">
				
								<div class="module changelist-results">
        <table cellspacing="0">
            <thead>

                <tr>
                        <th class=" sortable">
                            
                        </th>

                        <th class=" sortable">
                            Twitter
                        </th>
                    
                        <th class=" sortable">
                            Texto
                        </th>
                </tr>
            </thead>
            <tbody>
            	{% for ret in retweets %}
                   <tr class="row1">
                    <td>
                    	<img src="{{ ret.user.profile_image_url}}" />
                    </td>
                    <td>
                    	{{ ret.user.screen_name }}
                    </td>
                    <td>
                    	{{ ret.text}}
                    </td>
                  
                   </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
    
				
   			</div>
		</div>
		
		<div class="portlet">
			<div class="portlet-header">Últimos relacionamentos</div>
			<div class="portlet-content">
				<div class="module changelist-results">
        <table cellspacing="0">
            <thead>

                <tr>
                        <th class=" sortable">
                            Lead
                        </th>

                        <th class=" sortable">
                            Contato
                        </th>
                    	<th class=" sortable">
                            Mensagem
                        </th>
                    
                        <th class=" sortable">
                            Enviado
                        </th>
                </tr>
            </thead>
            <tbody>
            	{% for relacionamento in relacionamentos %}
                   <tr class="row1">
                    <td>
                    	{{ relacionamento.lead}}
                    </td>
                    <td style="text-align: center!important">
                    	{% if relacionamento.contato == 'T' %}
                    	Twitter
                    	{% endif %}
                    	{% if relacionamento.contato == 'F' %}
                    	Facebook
                    	{% endif %}
                    	{% if relacionamento.contato == 'L' %}
                    	Linkedin
                    	{% endif %}
                    </td>
                    <td >
                    	{{ relacionamento.mensagem }}
                    
                    </td>
                    
                    <td style="text-align: center!important">
                    	
                    	{% if relacionamento.enviado %}
                    		<img src="/media/images/icons/accept.png" />
                    	{% else %}
                    		<img src="/media/images/icons/delete.png" />
                    	{% endif %}
                    	
                    	
                    </td>
                  
                   </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
		
			</div>
		</div>
	
	</div>
	
	<div class="column">
		
		<div class="portlet">
			<div class="portlet-header">Últimas menções sobre mim</div>
			<div class="portlet-content">
				
												<div class="module changelist-results">
        <table cellspacing="0">
            <thead>

                <tr>
                        <th class=" sortable">
                            
                        </th>

                        <th class=" sortable">
                            Twitter
                        </th>
                    
                        <th class=" sortable">
                            Texto
                        </th>
                </tr>
            </thead>
            <tbody>
            	{% for mencao in mencoes %}
                   <tr class="row1">
                    <td>
                    	<img src="{{ mencao.user.profile_image_url}}" />
                    </td>
                    <td>
                    	{{ mencao.user.screen_name }}
                    </td>
                    <td>
                    	{{ mencao.text}}
                    </td>
                  
                   </tr>
               {% endfor %}
            </tbody>
        </table>
				
   			</div>
		</div>
		</div>
		
		<div class="portlet">
			<div class="portlet-header">Últimos leads</div>
			
			<div class="portlet-content">
				<div class="module changelist-results">
        <table cellspacing="0">
            <thead>

                <tr>
                        <th class=" sortable">
                            Nome
                        </th>

                        <th class=" sortable">
                            Email
                        </th>
                        
                        <th class=" sortable">
                            Twitter
                        </th>
                        
                        <th class=" sortable">
                            Facebook
                        </th>
                        
                        <th class=" sortable">
                            Linkedin
                        </th>
                    
                        <th class=" sortable">
                            Telefone
                        </th>
                </tr>
            </thead>
            <tbody>
            	{% for lead in leads %}
                   <tr class="row1">
                    <td>
                    	{{ lead.nome}}
                    </td>
                    <td>
                    	{{ lead.e_mail }}
                    </td>
                     <td>
                    	{{ lead.twitter}}
                    </td>
                     <td>
                    	{{ lead.facebook}}
                    </td>
                     <td>
                    	{{ lead.linkedin}}
                    </td>
                    <td>
                    	{{ lead.telefone}}
                    </td>
                  
                   </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>

	</div>
		</div>
	</div>
        <div id="footer"></div>
    </div>


</div>
{% endblock %}
